/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$font-family-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

$body-color: #1e1e1e;
$body-bg: #f4f4f4;
$link-color: #272bd1;
$navbar-bg: #511852;
$navbar-fg: #FFFFFF;
$valuebox-bg-primary: #511852;


/*-- scss:rules --*/

.card-header {
  background-color: #511852;
  color: white; // Set the text color for the title
  padding: 10px; // Add padding for better appearance
  border-top-left-radius: 5px; // Optional: rounded corners
  border-top-right-radius: 5px; // Optional: rounded corners
}


.highlight-peach {
  background-color: #FEBC94;
  padding: 0.0em 0.1em;
}

.highlight-yellow {
  background-color: #FAE3B4;
  padding: 0.0em 0.1em;
}

.highlight-pink {
  background-color: #FFC0CB;
  padding: 0.0em 0.1em;
}

.a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #3EB489;
}
